input {
  margin: 10px 0px;
  font-size: 18px;
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}

th {
  font-size: 18px;
  cursor: pointer;
  padding: 10px 5px;
  position: sticky;
  top: 0;
  background: green;
  color: white;
  z-index: 1;
}

.th_sort_asc::after {
  content: '\25b4';
}

.th_sort_desc::after {
  content: '\25be';
}

.th_sort_asc::after,
.th_sort_desc::after {
  margin-left: 5px;
}

.th_sort_asc,
.th_sort_desc {
  background: darkgreen;
}
